.lets-be-friends {
  display: flex;
  flex-direction: column;
  gap: rem(21);
  font-size: rem(14);
  font-family: var(--Montserrat);

  @media (min-width: 768px) {
    font-size: rem(18);
    gap: rem(26);
  }
}
