<ul class="socials">
    <li class="socials__item">
        <a href="#" class="socials__link">
            <span class="visually-hidden">fb</span>
            <svg width="15" height="32">
                <use href="./images/sprite.svg#fb" />
            </svg>
        </a>
    </li>
    <li class="socials__item">
        <a href="#" class="socials__link">
            <span class="visually-hidden">insta</span>
            <svg width="28" height="28">
                <use href="./images/sprite.svg#insta" />
            </svg>
        </a>
    </li>
    <li class="socials__item">
        <a href="#" class="socials__link">
            <span class="visually-hidden">youtube</span>
            <svg width="28" height="21">
                <use href="./images/sprite.svg#youtube" />
            </svg>
        </a>
    </li>
    <li class="socials__item">
        <a href="#" class="socials__link">
            <span class="visually-hidden">tg</span>
            <svg width="26" height="22">
                <use href="./images/sprite.svg#tg" />
            </svg>
        </a>
    </li>
</ul>